#resultsList {
    font-size: 24px;
}

#employeeName {
    padding-top: 30px;
}

#skills {
    padding-top: 30px;
}

#skillsList {
    display: table;
    margin: 0 auto;
}

#error {
    padding-top: 30px;
    color: red;
}