@import url("https://assets.bux.osu.edu/bux-webfonts2/bux-webfonts2.css");

body {
  margin: 0;
  font-family: "BuckeyeSans", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  color: rgb(224, 224, 224)
}

html {
  background-color: rgb(37, 37, 56);
}