@import "tailwindcss";

@font-face {
  font-family: "Sansation";
  src: local("Sansation-Regular"), url("./fonts/Sansation-Regular.ttf") format("truetype");
}



body {
  margin: 0;
  font-family: "Sansation", sans-serif;
  color: rgb(224, 224, 224)
}

html {
  background-color: rgb(37, 37, 56);
}